*{
	padding: 0;
	margin:0;
}
body {
	box-sizing: border-box; 
    font-family:'Merriweather';
    color: black; 
    height: 510px;
    display:inline-block;
	margin-top: 30px;
	margin-bottom:10px;
	background-color: #bba2a2;
	overflow-x: hidden;
}
#main-section{
	width: 100%;
}
#bagan{
	position: absolute;
	width: 50%;
	height:507px;
	display:inline-block;
	padding-left: 10px;
}
#list{
	background: linear-gradient(to top, #bba2a2 40%, #873b24 60% ); 
 	margin-left: 725px;
	box-sizing: border-box;
	height:467px;
	width: 50%; 
	padding-top: 30px;
	padding-left:30px;
	line-height: 1.6;
	padding-bottom:0px;
	border:7px solid rgb(97, 52, 35);
	border-radius:5px;
	display:block; 
	font-family: 'Libre Baskerville', serif;
	margin-bottom:10px;
}
h3
{
   padding-right:10px;
   padding-top:0px;
   color:white;
   font-size: 35px;
   text-align: center;
   position:center;
   font-family: 'Merriweather', serif;
}
.mydate,.numofpeople,.choose,.time{
	color:rgb(92, 51, 51);
	font-size:30px; 
	font-family:Sans-serif; 
	padding: 30px;
	position:center;
}
button{background-color:rgb(92, 51, 51);
		border: none;
		border-radius: 10px;
		color: white;
		padding: 15px 20px;
		margin-left:5px;
		text-align: center;
		
		display:inline-block;
		font-size: 15px;
		margin-left: 5px;
		cursor: pointer;
		width:80px;
		
	}
	a{
		text-decoration: none;
	}
	
#footer{
		height:150px;
		width:1440px;
		background-color:rgb(116,32,32);
		color:blanchedalmond;
		text-align:center;
		font-family:'Merriweather',serif;
		font-size:10px;
		box-sizing: border-box;
		margin-left: 10px;
		}

#text{
		padding-top:120px;
	}
   
.bottom{
		text-decoration: none;
		background-color: transparent;
		color:blanchedalmond;
		}
